# Apps
TemplateAnalysis
TemplateAnalysisMT
EventWrapper
PlotCollectedPE
CreateEResMatrix
CreatePosMatrix
PlotPEVSNHits
VtxRecon
SelectIBD
CreatePDF
PECounting
FlattenHits
ReconHits

# Inputs
*.txt
*.root

# Outputs
*.jpg
*.png
*.pdf

# Perso
Blackhole.C
FitMacro.C
ProgressBar.hpp
include/cnpy.h
